<section>
    <h2>Är du singel?</h2>
    <div>
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="label-input-area" data-bind="if: isLoggedIn">
        Välkommen till Sveriges första online datingtjänst där just du kan bli headhuntad av personliga matchmakers.
        <br />
        
    </div>
    <div data-bind="ifnot: isLoggedIn">
        <div class="label-input-area">
           
            Välkommen till Sveriges första online datingtjänst där just du kan bli headhuntad av personliga matchmakers.
            <br/>
        </div>
        <br/>
        <a class="btn btn-lg transparent-button" href="#login">Logga in</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-lg transparent-button" href="#signup1">Registrera</a>
    </div>

</section>