<section>
    <h2>Min profil
        <span data-bind="if: loading"><i id="spinner" class="fa fa-spinner fa-spin fa-fw"></i>
        </span>
    </h2>
    <br />

    <div style="background-color: rgba(0, 0, 0, 0.7); padding: 20px; ">
        <div style="float: left; padding-right: 20px; ">

            <img width="130" title="" data-bind="attr: { src: imgurl }" />

        </div>
        <div>
            <div>

                <span data-bind="text: name"></span><span>, </span><span data-bind="text: age"></span><span> år</span><br />
                <span data-bind="text: postalCode"></span> <span data-bind="text: city"></span><br />
                <span>Födelseår: </span><span data-bind="text: year"></span><br />
                <span data-bind="if: isMale">Kön: Man</span>
                <span data-bind="ifnot: isMale">Kön: Kvinna</span>
                <br/>
                <span data-bind="if: isMale">Söker: Kvinna</span>
                <span data-bind="ifnot: isMale">Söker: Man</span>
                <br />
                <span data-bind="text: note1"></span><br />
            </div>
            <br />
            <div data-bind="ifnot: editable">
                <a class="btn btn-default transparent-button" data-bind="click: edit">Ändra <i class="fa fa-pencil"></i></a>
            </div>
        </div>

        <div data-bind="if: editable">
            <div>
                <a class="btn btn-default" data-bind="click: pickFile">Välj bild</a>
                <a class="btn btn-default" data-bind="click: openCamera">Kamera <i class="fa fa-camera"></i></a>
                <br/>
            </div>
            <div>
              <a class="btn btn-default" data-bind="click: upload">Upload</a>
               
                <br />
            </div>
             <div style="width: 80%">
                <span>Nytt postnummer:</span> <span data-bind="text: newLookedupCity"></span><br />
                 <input class="form-control" data-bind="value: newPostalCode, valueUpdate: 'afterkeydown'"/>
                 <br />
            </div>
           
            <div>
                <span data-bind="text: message" style="padding-left: 10px"></span>
            </div>
            <div>
                <a class="btn btn-default transparent-button" data-bind="click: save">Spara</a>
            </div>
        </div>

    </div>
</section>