<div>
    <nav role="navigation">

        <div data-bind="if: validToken">
            <span>
                <a class="btn btn-default transparent-button" href="#searching">Sök <i class="fa fa-search"></i></a>
                <a class="btn btn-default transparent-button" href="#mypage">Jag <i class="fa fa-edit"></i></a>
                <a class="btn btn-default transparent-button" href="#conversations">Folk <i class="fa fa-users"></i></a>
                <a class="btn btn-default transparent-button" href="#conversations"> <i class="fa fa-envelope"></i></a>
                <a class="btn btn-default transparent-button" href="#settings" style="float: right;"> <i class="fa fa-cogs"> </i></a>
            </span>
        </div>

        <div data-bind="ifnot: validToken">
            <span>
            
            </span>
        </div>
    </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }" data-role="content" data-theme="a"></div>
</div>