<section>

    <h2>Anmälan Klar</h2>
    <div>
        <br />

        <div class="form-group label-input-area">
            <div>
                Klart!
            </div>
            <div>
                Du kan nu logga in, men måste kolla din mail och aktivera dit konto innan du kan interagera med någon.
            </div>
            <div>
                <span data-bind="text: message" style="padding-left: 10px"></span>
                <br />

                <a href="#login" class="btn btn-default transparent-button">Till login <i class="fa fa-arrow-right"></i></a>

                <br />
            </div>
        </div>
    </div>
</section>
