<section>
    <h2>
        <a href="#home" style="background: rgba(0, 0, 0, 0.6); color: white;" data-bind="click: onClick"><i class="fa fa-arrow-left"></i></a>
        Anmälan
    </h2>
    <div>
        <br />
        <br />

        <div class="switch-toggle well" style="height: 50px;width: 100%;">
            <input id="am-man" name="am" type="radio" data-bind="value: amMan">
            <label for="am-man" onclick="">Jag&nbsp;är en&nbsp;man...</label>

            <input id="am-woman" name="am" type="radio" data-bind="value: amWoman">
            <label for="am-woman" onclick="">Jag&nbsp;är en&nbsp;kvinna...</label>

            <a class="btn btn-primary"></a>
        </div>
        <br />
        <br />


        <br />
        <div class="switch-toggle well" style="height: 50px;width: 100%;">
            <input id="want-woman" name="want" type="radio" data-bind="value: wantWoman">
            <label for="want-woman" onclick="">...som&nbsp;söker en&nbsp;kvinna</label>

            <input id="want-man" name="want" type="radio" data-bind="value: wantMan">
            <label for="want-man" onclick="">...som&nbsp;söker en&nbsp;man</label>

            <a class="btn btn-primary"></a>
        </div>
        <br />
        <br />
        <a href="#signup2" class="btn btn-default transparent-button" data-bind="click: onClick">Nästa <i class="fa fa-arrow-right"></i></a>
        <br />
        <br />
    </div>
</section>
