<section>

    <h2>Allmänna Villkor <i class="fa fa-gavel"></i></h2>

    <p>
        <p>Brilliance är en online tjänst genom vilken du har möjlighet att hitta, eller bli hittad av, ditt livs kärlek. Det unika med Brilliance är att du även har möjlighet att bli headhuntad av professionella matchmakers och få gå på dejt genom dem. När du registrerar dig på Brilliance ska du använda den för att hitta kärleken och det är viktigt att du läser igenom användarvillkoren för att säkerställa att du följer våra användarvillkor, om du bryter mot dem kan ditt konto inaktiveras.</p>
        <p>För att registrera sig hos Brilliance måste du ha fyllt 18 år. Vi förbehåller oss rätten att neka medlemskap och att stänga av användare som bryter mot våra villkor.</p>
        <p>När du registrerar dig så godkänner du att förhålla dig till våra villkor och du ansvarar själv för att du inte bryter mot villkoren eller någon svensk lag. Grova överträdelser beivras och kan leda till poliskontakt. Administratör på Brilliance kan läsa kommunikation på sidan för att kunna följa upp överträdelser av villkoren och för att göra stickprov att de följs.</p>
        <p>Vår ambition är att godkänna dina bilder inom en arbetsdag men vid hör belastning hoppas vi att du har överseende med att handläggningen är något längre.</p>
        <p>Brilliance gör vårt bästa för att tekniken alltid ska fungera optimalt. Oförutsedda omständigheter kan dock inträffa och vi friskriver oss ansvar för bilder eller texter som du lagt upp i det fall de skulle försvinna. Vi kan inte garantera att du finner din stora kärlek men möjligheten ökar när du finns registrerad på Brilliance.</p>
        <p>När du registrerar dig godkänner du per automatik att det du skriver och de bilder du lägger ut publiceras inom Brilliance sida. Varje medlem är själv ansvarig för det som de skriver och bilder de lägger ut vilket betyder att Brilliance inte ansvarar för det som en medlem skriver till en annan. Däremot kan du rapportera en användare till administratören om du erhåller olämpligt innehåll från användaren via Brilliance mailfunktion. Brilliance friskriver sig från juridiskt eller ekonomiskt ansvar för eventuella skador som uppkommit genom nyttjande av vår tjänst.</p>
        <p>
            Följande är otillåtet på Brilliance hemsida:
            <ul>
                <li>Publicera profilbilder som föreställer någon annan än dig själv eller bilder som är pornografiska eller på annat vis stötande.</li>
                <li>Skriva något som är kränkande mot en person eller gentemot någon grupp såsom rasistiska uttryck.</li>
                <li>Publicera texter eller bilder med copyright.</li>
                <li>Publicera texter på annat språk än svenska.</li>
                <li>Göra reklam eller använda tjänsten för andra kommersiella syften.</li>
                <li>Skriva något som bryter mot svensk lag eller använda tjänsten för kriminella syften.</li>
                <li>Sprida politisk eller religiös propaganda.</li>
            </ul>
        </p>
        <p>Om dina lämnade uppgifter är att betrakta som personuppgifter följer Brilliance Personuppgiftslagen (PuL), SFS 1998:204.. Genom att registrera dig som medlem på Brilliance samtycker du till att vi får hantera dina personuppgifter enl PuL.</p>
        <p>Brilliance kan komma att använda dina uppgifter i samband med statistik och när du registrerar dig godkänner du samtidigt att Brilliance får skicka erbjudanden till din e-postadress. Dina uppgifter lämnas inte ut till någon utomstående förutom i det fall det finns misstanke om grovt brott och polismyndigheten begär ut dem.</p>
        <p>
            Brilliance innehåller så kallade cookies (kakor). Enligt lagen om elektronisk kommunikation, som trädde i kraft den 25 juli 2003, ska alla som besöker en hemsida med cookies få information om:
            <ul>
                <li>att webbplatsen innehåller cookies,</li>
                <li>vad dessa cookies används till och</li>
                <li>hur cookies kan undvikas.</li>
            </ul>
        </p>
        <p>Brilliance använder sig av olika sorters cookies, både sådana som sparas och sådana som försvinner när du stänger din webbläsare. Cookies används för att få inloggningshanteringen, språkstöd och google analytics att fungera korrekt.</p>
        <p>Vill du inte acceptera cookies kan din webbläsare ställas in så att du automatiskt nekar till lagring av cookies eller informeras varje gång en webbplats begär att få lagra en cookie. För att kunna vara inloggad måste du dock acceptera cookies från Brilliance. Genom webbläsaren kan också tidigare lagrade cookies raderas. Se webbläsarens hjälpsidor för mer information.</p>

    </p>
    <p>
        <a href="#signup3" class="btn btn-default">OK <i class="fa fa-check"></i></a>

    </p>
</section>