<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="mdd81" />
  <package id="Durandal" version="2.1.0" targetFramework="mdd81" />
  <package id="Durandal.Transitions" version="2.1.0" targetFramework="mdd81" />
  <package id="font-awesome" version="4.4.0" targetFramework="mdd81" />
  <package id="jQuery" version="2.1.4" targetFramework="mdd81" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="mdd81" />
  <package id="Knockout.Validation" version="2.0.3" targetFramework="mdd81" />
  <package id="knockoutjs" version="3.4.0" targetFramework="mdd81" />
  <package id="RequireJS" version="2.1.22" targetFramework="mdd81" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="mdd81" />
  <package id="Slick" version="1.5.11" targetFramework="mdd81" />
</packages>